<div class="row">
    <div class="col-6">
        <h1 class="mb-5">Employee Management</h1>
    </div>
    <div class="col-6">
        <button class="btn btn-primary float-right mb-5" [routerLink]="['/employee/add']">Add new employee</button>
    </div>
</div>

<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col" class="centerTableCell"># of Dependents</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor='let e of employeeList'>
                <td>{{e.firstName}}</td>
                <td>{{e.lastName}}</td>
                <td style="text-align: center;">{{e.dependentCount}}</td>
                <td><button class="btn btn-primary btn-info btn-block" [routerLink]="['/employee/summary', e.employeeId]">Benefit & Pay Summary</button></td>
                <td><button class="btn btn-primary btn-success btn-block" [routerLink]="['/employee/edit', e.employeeId]">Edit</button></td>
            </tr>
        </tbody>
    </table>
</div>